@font-face {
    font-family: 'vcr_osd_mono';
    src: url('../../fonts/VCR_OSD_MONO_1.001.ttf') format('truetype');
}
:root{
    --color1: #0A0A0A;
    --color2: #1A1A1A;
    --color3: #2A2A2A;
    --color4: #3A3A3A;
    --color5: #4A4A4A;
}
header{
    text-align: center;
}
body{
    font-family: 'vcr_osd_mono', sans-serif;
    color: white;
    height: 100vh;
    background-color: var(--color2);
    overflow: hidden;
}
h1{
    margin-top: 50px;
    font-size: 50px;
    margin-bottom: 0;
}